a {
	text-decoration: none;
	color: gray;
}

header {
	background-color: lavender;
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	position: fixed;
}

.main {
	width: 100%;

}

.fstPart {
	display: flex;
}

div.sdPart {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	width: 700px;
	min-width: 600px;
}

.firsta {
	color: black;
}

.thrdPart {
	display: flex;
	width: 130px;
	justify-content: space-between;
	align-items: center;
}

.thrdPart img {
	height: 45px;

}

.auth {
	display: flex;
	flex-direction: column;
}

a.login {
	color: black;
	font-weight: 600
}

a.register {
	font-size: 12px;
}
