body {
	overflow-x: hidden;
	min-width: 1000px;
	font-family: 'Montserrat';
}





.m1 {
	width: 100%;
	/* или любую другую нужную вам ширину */
	height: 700px;
	/* или любую другую нужную вам высоту */
	background-image: url('assets/miniMen.webp');
	background-size: cover;
	/* это свойство масштабирует изображение, чтобы оно покрывало весь блок */
	background-position: center;
	/* это свойство позиционирует изображение по центру блока */
}




.hello {

	padding: 30px;
	background-color: rgba(148, 63, 256, 0.7);
	margin-left: 60%;
	border-radius: 15px;
}

.wrapper {
	width: 80%;
}

.w1 {
	padding-top: 15%;
}

button {
	background-color: #4B0082;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s, box-shadow 0.3s;
	display: block;
	margin: 20px auto 0 auto;
}

button:hover {
	background-color: #4B1070;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.m2 {
	background-color: #1d1d36;
	height: 260px;
	display: flex;
	align-items: center
}

.m2-p {
	text-align: center;
	display: block;
	margin: auto;
	padding: 30px 18%;
	color: white;
	font-weight: 500;
	font-size: 18px;
}

.m3 {
	background-color: #90918c;
	height: 450px;
	display: flex;
	flex-direction: column
}

.m3-info {
	width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}

.ao {
	max-width: 230px;
	border-radius: 15px;
	border: 1px solid #1a5ea5;
	display: flex;

}

h1 {
	font-weight: 600
}
.m3-info-2{
	width: 1000px;
	margin: auto;
	padding: 40px; 
}
.m33{
	background-color: #1d1d36;
	height: 280px
		
}
.m3-info-ex {
	margin-top: 30px;
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	width: 1000px;
}

.m3-text {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.rates {
	height: 1000px;
	background-color: rgba(0, 0, 255, .2);
	display: flex;
	flex-direction: column;
	
}
.rate1{
	display: flex;
	width: 1000px;
	margin: auto;
	padding-top: 20px;
}
.rate{
	border: 3px solid black;
	border-radius: 30px;
	width: 300px;
	height: 350px;
	margin: auto;
	padding: 20px;
	text-align: center;
	box-shadow: 12px 12px 2px 1px #4b4da5;
}

.rate:hover {
	background-color: rgba(0.1, 0.1, 0.1, 0.1);
	box-shadow: 15px 15px 3px 2px #4b4da5;
}
.rate h3 {
	height: 70px;
	align-content: center;
}
.rate h2 {
	margin: 20px 0px;
}
.rate2 {
	display: flex;
	width: 700px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
}
.rete-row{
	display: flex;
	justify-content: center;
	
	
}
.rates h1 {
	text-align: center;
	padding-top: 30px;
}
.rate img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.reviews {
	padding: 20px 12%;
	height: 1600px;
	background-color: #1d1d36;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rev-name {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 0 20px 0 20px;
}

.rev-name-1 {
	flex-direction: column;
	padding-left: 20px;
}

.rev {
	height: 400px;
	width: 42%;
	background-color: #7083af;
	border-radius: 15px;
	margin: 10px 4%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.ava {
	width: 110px;
	height: 110px
}

.rev-text {
	padding: 0 20px 0 20px;
}



.row-rev {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.revLink {
	margin-top: 40px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 200px;
}

.revLink a {
	color: aliceblue;
	text-decoration: none;
}

.revLink:hover {
	color: #fff;
	background-color: #7083af;
	border-color: #fff;
}

.m4 {
	color: aliceblue;
	background-color: #4b4da5;
	height: 550px;
	padding: 0px 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}


.m4-1 {
	display: flex;
	width: 60%;
	margin-top: 20px;
	align-items: center;
}

.m4-2 {
	display: flex;
	width: 60%;
	margin: 20px 0px 0px 50%;
	align-items: center;
}

.m4-3 {
	display: flex;
	width: 60%;
	align-items: center;
	margin-top: 20px;
}

.m4-icon {
	width: 80px;
}

.m5 {
	height: 720px;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.m5-row {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	width: 1400px;
	margin: 40px auto;
}

.imgCont img {
	border-radius: 25px;
}

.m5-row img {
	height: 300px;
	width: 330px;
}

.m5-1 {
	max-width: 350px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.m5-1 p {
	flex: 1;
	text-align: center;
	margin-top: 30px
}
.main {
	width: 100%;

}

.form {
    max-width: 600px;
    margin: 10px auto 40px;
    padding: 1em;
    background-color: #e5e2df;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}



input[type="text"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.familiarity {
	padding: 30px;
	height: 800px;
	display: flex;
	flex-direction: column;
	color: #9966cc;
	font-size: 17px;
	font-weight: 600;
	background-color: #e8e6ed;
	text-align: center;
}
.row13{
	display: flex;
	width: 700px;
	margin: auto
}

.familiarity .row2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
	margin: 40px auto;
}
.row2p1{
	width: 250px;
	margin: 0px auto 0px 0px;
	
}
.row2p2{
	width: 250px;
	margin: 0px 0px 0px auto;
}
@media screen and (max-width: 1300px) {

	.rev-text {
		font-size: 14px;
	}

	.rev-name-1 h3 h6 {
		flex-direction: column;
		padding-left: 20px;
		font-size: 19px;
	}

	.ava {
		width: 70px;
		height: 70px
	}

	div.sdPart {
		font-size: 12px;
		margin: 0 30px 0;
	}

	.m5-row {
		display: flex;
		margin-top: 50px;
		margin: 50px auto 0;
		flex-direction: column;
	}

	.m5 {
		width: 400px;
		height: 1700px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		margin: auto;
	}

}
