body {
	overflow-x: hidden;
	min-width: 1000px;
	font-family: 'Montserrat';
	width: 100%;
	background-color: #4b4da5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
	
	height: 750px;
	width: 100%;
	margin-top: 70px;
	padding-top: 60px;
}

.reg {
	width: 500px;
	margin:  auto;
	background-color: #7f7fdc;
	border-radius: 15px;
	padding: 20px;
}

.reg h2{
	text-align: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	
}

input{
	margin: 10px;
	height: 30px;
	border-radius: 8px;
	background-color: #e1e1ff;
}

label{
	margin: 10px;
}

select {
	margin: 20px 0px;
	height: 30px;
	width: 40px;
	border-radius: 8px;
}

.reg a {
	color: #4B0082;
}

button {
	background-color: #4B0082;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s, box-shadow 0.3s;
	display: block;
	margin: 20px auto 0 auto;
}

button:hover {
	background-color: #4B1070;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}